{% extends '@Members/Form/form_wrapper.html.twig' %}

{% block form %}

<div class="members register">
    {{ form_start(form, {'method': 'post', 'action': path('members_user_registration_register'), 'attr': {'novalidate': 'novalidate', 'class': 'members_user_registration_register'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>

{% endblock form %}