includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    scanFiles:
        - %currentWorkingDirectory%/vendor/pimcore/pimcore/stubs/dynamic-constants.php
    reportUnmatchedIgnoredErrors: false
    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/test/TestKernelTestDebugContainer.xml
        constantHassers: false
    excludePaths:
        # only works if optional bundles are available:
        - src/Adapter/User/AbstractCustomerUser.php
    ignoreErrors:
        - '#Comparison operation \"\>\" between int\<1, max\> and 0 is always true\.#'
        - '#Method MembersBundle\\EventListener\\PostConfirmationListener::confirmByMail\(\) is unused#'
        - '#Method MembersBundle\\EventListener\\PostConfirmationListener::confirmByAdmin\(\) is unused#'
        - '#Method MembersBundle\\EventListener\\PostConfirmationListener::confirmInstant\(\) is unused#'
