<?xml version='1.0'?>
<zend-config>
  <plugin>
    <pluginName>Members</pluginName>
    <pluginNiceName>Members Module</pluginNiceName>
    <pluginIcon>/plugins/Members/static/img/logo.png</pluginIcon>
    <pluginDescription>create user restrictions</pluginDescription>
    <pluginVersion>1.0.0</pluginVersion>
    <pluginClassName>\Members\Plugin</pluginClassName>
    <pluginIncludePaths>
      <path>/Members/lib</path>
      <path>/Members/models</path>
    </pluginIncludePaths>
    <pluginNamespaces>
      <namespace>Members</namespace>
    </pluginNamespaces>
      <pluginJsPaths-extjs6>
          <path>/plugins/Members/static/js/backend/startup.js</path>
          <path>/plugins/Members/static/js/backend/document/restriction.js</path>

          <path>/plugins/Members/static/js/backend/object/tags/multiselect.js</path>
          <path>/plugins/Members/static/js/backend/object/classes/data/dataMultiselect.js</path>

          <path>/plugins/Members/static/js/backend/object/classes/data/membersUserGroupMultiselect.js</path>
          <path>/plugins/Members/static/js/backend/object/tags/membersUserGroupMultiselect.js</path>
    </pluginJsPaths-extjs6>
    <pluginCssPaths-extjs6>
          <path>/plugins/Members/static/css/admin.css</path>
    </pluginCssPaths-extjs6>
  </plugin>
</zend-config>