{% extends '@Members/layout.html.twig' %}

{% block members_user_content %}
    <p>{{ 'members.resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
{% endblock members_user_content %}
