<form action="{{ path('members_user_resetting_send_email') }}" method="POST" class="members_user_resetting_request">
    <div>
        <label for="username">{{ 'members.resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input type="submit" value="{{ 'members.resetting.request.submit'|trans }}" />
    </div>
</form>
