{{ form_start(form, { 'action': path('members_user_resetting_reset', {'token': token}), 'attr': { 'class': 'members_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'members.resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
