.pimcore_icon_data_group_members {
    background: url(/bundles/members/img/members.svg) center center no-repeat !important;
}

.members_icon_user_group,
.pimcore_icon_membersGroupMultiselect {
    background: url(/bundles/members/img/group.svg) no-repeat scroll left center transparent !important;
}

.members_icon_document_restriction {
    background: url(/bundles/members/img/lock.svg) no-repeat scroll left center transparent !important;
}

.members-locked .x-grid-cell-inner .x-tree-node-text {
    position: relative;
}

.members-locked .x-grid-cell-inner .x-tree-node-text:after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px;
    height: 14px;
    left: -10px;
    bottom: -4px;
}

.members-locked-main .x-grid-cell-inner .x-tree-node-text:after {
    background-image: url(/bundles/members/img/tree_lock.png);
}

.members-locked-inherit .x-grid-cell-inner .x-tree-node-text:after {
    background-image: url(/bundles/members/img/tree_lock_inherit.png);
}