<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page for Members</title>
</head>
<body>
<div id="site">
    {% block content %}

        <div class="nav">

            {% set nav = members_build_nav({
                active: pimcore_document(1),
                root: pimcore_document(1)
            }) %}

            {{ pimcore_render_nav(nav, 'menu', 'renderMenu', { maxDepth: 2 }) }}
        </div>

        <div class="legacy-nav">
            {% set nav2 = members_build_nav(pimcore_document(1), pimcore_document(1), null, true) %}
            {{ pimcore_render_nav(nav2, 'menu', 'renderMenu', { maxDepth: 2 }) }}
        </div>

    {% endblock %}
</div>
</body>
</html>
