{{ form_start(form, { 'action': path('members_user_change_password'), 'attr': { 'class': 'members_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'members.change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}