{% extends '@Members/Form/form_wrapper.html.twig' %}

{% block form %}

<div class="members register">
    {% set action = path('members_user_sso_identity_complete_profile') %}
    {{ form_start(form, {'method': 'post', 'action': action, 'attr': {'novalidate': 'novalidate', 'class': 'members_user_sso_identity_complete_profile'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>

{% endblock form %}